In [1]:
import findspark

In [2]:
findspark.init()

In [3]:
findspark.find()

'C:\\spark-3.3.1-bin-hadoop2'

# method 1 reading csv file into spark session directly from local

In [4]:

from pyspark.sql import SparkSession
from pyspark.sql.functions import col, cast, count, isnan, isnull, when

In [5]:
spark = SparkSession.builder.appName("diabet").master("local[2]").getOrCreate()

In [6]:
spark

In [8]:
#spark.sparkContext.setSystemProperty()

In [9]:
rawd = spark.read.csv("../drang/Downloads/diabetes.csv", header=True)
df = spark.range(0,20)
print(df.rdd.getNumPartitions())

2

In [10]:
rawd.rdd.getNumPartitions()

1

#  method 2 creating DB from csv local file and updating to server

In [11]:
#method 2 creating DB from csv local file and updating to server
import pandas as pd

data = pd.read_csv(r"C:\Users\drang\Downloads\diabetes.csv")

In [12]:
import mysql.connector

db_connection = mysql.connector.connect(user="root", password="Art8870496550!@#")
db_cursor = db_connection.cursor(buffered=True)
#db_cursor.execute("CREATE DATABASE DDB;")
db_cursor.execute("USE DDB;")

In [13]:
db_cursor.execute("CREATE TABLE diabete(Pregnancies INT, Glucose INT, \
                   BloodPressure INT, SkinThickness INT, BMI FLOAT, \
                   Insulin INT, DiabetesPedigreeFunction FLOAT, Age FLOAT, Outcome INT);")

ProgrammingError: 1050 (42S01): Table 'diabete' already exists

In [14]:
#create structure for sql
wtuples = list(data.itertuples(index=False, name=None))
tuples_string = ",".join(["(" + ",".join([str(w) for w in wt]) + ")" for wt in wtuples])

In [15]:
db_cursor.execute("INSERT INTO diabete(Pregnancies, Glucose, BloodPressure,\
                   SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome) VALUES " + tuples_string + ";")
db_cursor.execute("FLUSH TABLES;")

In [16]:
db_cursor.execute("SELECT * FROM diabete;")

In [17]:
spark.stop()

# method 2-2pt read data from mysql server into spark session

In [18]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.config("spark.jars", r"C:\spark-3.3.1-bin-hadoop2\jars\mysql-connector-j-8.0.31.jar") \
.config("spark.driver.extraClassPath", r"C:\spark-3.3.1-bin-hadoop2\jars\mysql-connector-j-8.0.31.jar") \
.config("spark.executor.extraClassPath", r"C:\spark-3.3.1-bin-hadoop2\jars\mysql-connector-j-8.0.31.jar") \
.config("spark.executor.extraLibrary", r"C:\spark-3.3.1-bin-hadoop2\jars\mysql-connector-j-8.0.31.jar") \
    .master("local").appName("PySpark_MySQL_test").enableHiveSupport().getOrCreate()
#last 2 configs for cluster mode instead of local mode  
    
    
df = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/DDB") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "diabete") \
    .option("user", "root").option("password", "Art8870496550!@#").load()

In [19]:
df.show()

+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness| BMI|Insulin|DiabetesPedigreeFunction| Age|Outcome|
+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
|          6|    148|           72|           35|33.6|      0|                   0.627|50.0|      1|
|          1|     85|           66|           29|26.6|      0|                   0.351|31.0|      0|
|          8|    183|           64|            0|23.3|      0|                   0.672|32.0|      1|
|          1|     89|           66|           23|28.1|     94|                   0.167|21.0|      0|
|          0|    137|           40|           35|43.1|    168|                   2.288|33.0|      1|
|          5|    116|           74|            0|25.6|      0|                   0.201|30.0|      0|
|          3|     78|           50|           32|31.0|     88|                   0.248|26.0|      1|
|         10|    115|            0|            0|35.3|      0|                   0.134|29.0|      0|
|          2|    197|           70|           45|30.5|    543|                   0.158|53.0|      1|
|          8|    125|           96|            0| 0.0|      0|                   0.232|54.0|      1|
|          4|    110|           92|            0|37.6|      0|                   0.191|30.0|      0|
|         10|    168|           74|            0|38.0|      0|                   0.537|34.0|      1|
|         10|    139|           80|            0|27.1|      0|                   1.441|57.0|      0|
|          1|    189|           60|           23|30.1|    846|                   0.398|59.0|      1|
|          5|    166|           72|           19|25.8|    175|                   0.587|51.0|      1|
|          7|    100|            0|            0|30.0|      0|                   0.484|32.0|      1|
|          0|    118|           84|           47|45.8|    230|                   0.551|31.0|      1|
|          7|    107|           74|            0|29.6|      0|                   0.254|31.0|      1|
|          1|    103|           30|           38|43.3|     83|                   0.183|33.0|      0|
|          1|    115|           70|           30|34.6|     96|                   0.529|32.0|      1|
+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
only showing top 20 rows

+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness| BMI|Insulin|DiabetesPedigreeFunction| Age|Outcome|
+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
|          6|    148|           72|           35|33.6|      0|                   0.627|50.0|      1|
|          1|     85|           66|           29|26.6|      0|                   0.351|31.0|      0|
|          8|    183|           64|            0|23.3|      0|                   0.672|32.0|      1|
|          1|     89|           66|           23|28.1|     94|                   0.167|21.0|      0|
|          0|    137|           40|           35|43.1|    168|                   2.288|33.0|      1|
|          5|    116|           74|            0|25.6|      0|                   0.201|30.0|      0|
|          3|     78|           50|           32|31.0|     88|                   0.248|26.0|      1|
|         10|    115|            0|            0|35.3|      0|                   0.134|29.0|      0|
|          2|    197|           70|           45|30.5|    543|                   0.158|53.0|      1|
|          8|    125|           96|            0| 0.0|      0|                   0.232|54.0|      1|
|          4|    110|           92|            0|37.6|      0|                   0.191|30.0|      0|
|         10|    168|           74|            0|38.0|      0|                   0.537|34.0|      1|
|         10|    139|           80|            0|27.1|      0|                   1.441|57.0|      0|
|          1|    189|           60|           23|30.1|    846|                   0.398|59.0|      1|
|          5|    166|           72|           19|25.8|    175|                   0.587|51.0|      1|
|          7|    100|            0|            0|30.0|      0|                   0.484|32.0|      1|
|          0|    118|           84|           47|45.8|    230|                   0.551|31.0|      1|
|          7|    107|           74|            0|29.6|      0|                   0.254|31.0|      1|
|          1|    103|           30|           38|43.3|     83|                   0.183|33.0|      0|
|          1|    115|           70|           30|34.6|     96|                   0.529|32.0|      1|
+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
only showing top 20 rows

In [44]:
df.write.bucketBy(3,"age")
#df.rdd.collect()
df.show()

+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness| BMI|Insulin|DiabetesPedigreeFunction| Age|Outcome|
+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
|          6|    148|           72|           35|33.6|      0|                   0.627|50.0|      1|
|          1|     85|           66|           29|26.6|      0|                   0.351|31.0|      0|
|          8|    183|           64|            0|23.3|      0|                   0.672|32.0|      1|
|          1|     89|           66|           23|28.1|     94|                   0.167|21.0|      0|
|          0|    137|           40|           35|43.1|    168|                   2.288|33.0|      1|
|          5|    116|           74|            0|25.6|      0|                   0.201|30.0|      0|
|          3|     78|           50|           32|31.0|     88|                   0.248|26.0|      1|
|         10|    115|            0|            0|35.3|      0|                   0.134|29.0|      0|
|          2|    197|           70|           45|30.5|    543|                   0.158|53.0|      1|
|          8|    125|           96|            0| 0.0|      0|                   0.232|54.0|      1|
|          4|    110|           92|            0|37.6|      0|                   0.191|30.0|      0|
|         10|    168|           74|            0|38.0|      0|                   0.537|34.0|      1|
|         10|    139|           80|            0|27.1|      0|                   1.441|57.0|      0|
|          1|    189|           60|           23|30.1|    846|                   0.398|59.0|      1|
|          5|    166|           72|           19|25.8|    175|                   0.587|51.0|      1|
|          7|    100|            0|            0|30.0|      0|                   0.484|32.0|      1|
|          0|    118|           84|           47|45.8|    230|                   0.551|31.0|      1|
|          7|    107|           74|            0|29.6|      0|                   0.254|31.0|      1|
|          1|    103|           30|           38|43.3|     83|                   0.183|33.0|      0|
|          1|    115|           70|           30|34.6|     96|                   0.529|32.0|      1|
+-----------+-------+-------------+-------------+----+-------+------------------------+----+-------+
only showing top 20 rows

In [45]:
columnname = rawd.columns

In [47]:
df.printSchema()

root
 |-- Pregnancies: integer (nullable = true)
 |-- Glucose: integer (nullable = true)
 |-- BloodPressure: integer (nullable = true)
 |-- SkinThickness: integer (nullable = true)
 |-- BMI: double (nullable = true)
 |-- Insulin: integer (nullable = true)
 |-- DiabetesPedigreeFunction: double (nullable = true)
 |-- Age: double (nullable = true)
 |-- Outcome: integer (nullable = true)

In [48]:
rawf = df.select(*(col(c).cast('float').alias(c) for c in rawd.columns))

In [49]:
rawf.printSchema()

root
 |-- Pregnancies: float (nullable = true)
 |-- Glucose: float (nullable = true)
 |-- BloodPressure: float (nullable = true)
 |-- SkinThickness: float (nullable = true)
 |-- Insulin: float (nullable = true)
 |-- BMI: float (nullable = true)
 |-- DiabetesPedigreeFunction: float (nullable = true)
 |-- Age: float (nullable = true)
 |-- Outcome: float (nullable = true)

In [50]:
rawf.select([count(when(col(c).isNull(),c)).alias(c) for c in rawf.columns]).show()

+-----------+-------+-------------+-------------+-------+---+------------------------+---+-------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin|BMI|DiabetesPedigreeFunction|Age|Outcome|
+-----------+-------+-------------+-------------+-------+---+------------------------+---+-------+
|          0|      0|            0|            0|      0|  0|                       0|  0|      0|
+-----------+-------+-------------+-------------+-------+---+------------------------+---+-------+

In [51]:
#if theres null use imputer
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCol='Age', outputCol='newage')
model = imputer.fit(rawf)
data = model.transform(rawf)

In [52]:
data.rdd.getNumPartitions()
d = data.repartition(5)
d.rdd.getNumPartitions()
d

DataFrame[Pregnancies: float, Glucose: float, BloodPressure: float, SkinThickness: float, Insulin: float, BMI: float, DiabetesPedigreeFunction: float, Age: float, Outcome: float, newage: float]

In [53]:

colsi = rawf.drop(data.Outcome)

colsi = colsi.columns
colsi

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age']

In [54]:
from pyspark.ml.feature import VectorAssembler
n= VectorAssembler(inputCols=colsi, outputCol="feature")
newd = n.transform(rawf)
newd.show(truncate=False)

+-----------+-------+-------------+-------------+-------+----+------------------------+----+-------+-----------------------------------------------------------------------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin|BMI |DiabetesPedigreeFunction|Age |Outcome|feature                                                                |
+-----------+-------+-------------+-------------+-------+----+------------------------+----+-------+-----------------------------------------------------------------------+
|6.0        |148.0  |72.0         |35.0         |0.0    |33.6|0.627                   |50.0|1.0    |[6.0,148.0,72.0,35.0,0.0,33.599998474121094,0.6269999742507935,50.0]   |
|1.0        |85.0   |66.0         |29.0         |0.0    |26.6|0.351                   |31.0|0.0    |[1.0,85.0,66.0,29.0,0.0,26.600000381469727,0.35100001096725464,31.0]   |
|8.0        |183.0  |64.0         |0.0          |0.0    |23.3|0.672                   |32.0|1.0    |[8.0,183.0,64.0,0.0,0.0,23.299999237060547,0.671999990940094,32.0]     |
|1.0        |89.0   |66.0         |23.0         |94.0   |28.1|0.167                   |21.0|0.0    |[1.0,89.0,66.0,23.0,94.0,28.100000381469727,0.16699999570846558,21.0]  |
|0.0        |137.0  |40.0         |35.0         |168.0  |43.1|2.288                   |33.0|1.0    |[0.0,137.0,40.0,35.0,168.0,43.099998474121094,2.2880001068115234,33.0] |
|5.0        |116.0  |74.0         |0.0          |0.0    |25.6|0.201                   |30.0|0.0    |[5.0,116.0,74.0,0.0,0.0,25.600000381469727,0.20100000500679016,30.0]   |
|3.0        |78.0   |50.0         |32.0         |88.0   |31.0|0.248                   |26.0|1.0    |[3.0,78.0,50.0,32.0,88.0,31.0,0.24799999594688416,26.0]                |
|10.0       |115.0  |0.0          |0.0          |0.0    |35.3|0.134                   |29.0|0.0    |[10.0,115.0,0.0,0.0,0.0,35.29999923706055,0.1340000033378601,29.0]     |
|2.0        |197.0  |70.0         |45.0         |543.0  |30.5|0.158                   |53.0|1.0    |[2.0,197.0,70.0,45.0,543.0,30.5,0.15800000727176666,53.0]              |
|8.0        |125.0  |96.0         |0.0          |0.0    |0.0 |0.232                   |54.0|1.0    |[8.0,125.0,96.0,0.0,0.0,0.0,0.23199999332427979,54.0]                  |
|4.0        |110.0  |92.0         |0.0          |0.0    |37.6|0.191                   |30.0|0.0    |[4.0,110.0,92.0,0.0,0.0,37.599998474121094,0.19099999964237213,30.0]   |
|10.0       |168.0  |74.0         |0.0          |0.0    |38.0|0.537                   |34.0|1.0    |[10.0,168.0,74.0,0.0,0.0,38.0,0.5370000004768372,34.0]                 |
|10.0       |139.0  |80.0         |0.0          |0.0    |27.1|1.441                   |57.0|0.0    |[10.0,139.0,80.0,0.0,0.0,27.100000381469727,1.440999984741211,57.0]    |
|1.0        |189.0  |60.0         |23.0         |846.0  |30.1|0.398                   |59.0|1.0    |[1.0,189.0,60.0,23.0,846.0,30.100000381469727,0.39800000190734863,59.0]|
|5.0        |166.0  |72.0         |19.0         |175.0  |25.8|0.587                   |51.0|1.0    |[5.0,166.0,72.0,19.0,175.0,25.799999237060547,0.5870000123977661,51.0] |
|7.0        |100.0  |0.0          |0.0          |0.0    |30.0|0.484                   |32.0|1.0    |[7.0,100.0,0.0,0.0,0.0,30.0,0.48399999737739563,32.0]                  |
|0.0        |118.0  |84.0         |47.0         |230.0  |45.8|0.551                   |31.0|1.0    |[0.0,118.0,84.0,47.0,230.0,45.79999923706055,0.5509999990463257,31.0]  |
|7.0        |107.0  |74.0         |0.0          |0.0    |29.6|0.254                   |31.0|1.0    |[7.0,107.0,74.0,0.0,0.0,29.600000381469727,0.2540000081062317,31.0]    |
|1.0        |103.0  |30.0         |38.0         |83.0   |43.3|0.183                   |33.0|0.0    |[1.0,103.0,30.0,38.0,83.0,43.29999923706055,0.18299999833106995,33.0]  |
|1.0        |115.0  |70.0         |30.0         |96.0   |34.6|0.529                   |32.0|1.0    |[1.0,115.0,70.0,30.0,96.0,34.599998474121094,0.5289999842643738,32.0]  |
+-----------+-------+-------------+-------------+-------+----+------------------------+----+-------+-----------------------------------------------------------------------+
only showing top 20 rows

In [55]:
from pyspark.ml.feature import StandardScaler
scaler = StandardScaler(inputCol='feature', outputCol="scaledfeat")
model = scaler.fit(newd)
scaledd = model.transform(newd)

In [56]:
newdata = scaledd.select('scaledfeat','Outcome')

In [57]:
newdata.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|scaledfeat                                                                                                                                             |Outcome|
+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|[1.7815667561673982,4.631374347064541,3.7217532945376686,2.195196249533762,0.0,4.263931157322168,1.8933677423459543,4.253833663939351]                 |1.0    |
|[0.2969277926945664,2.659910942570851,3.4116071866595297,1.8188768924708312,0.0,3.3756123679198224,1.0599236453280207,2.6373768716423975]              |0.0    |
|[2.375422341556531,5.726631794005479,3.30822515070015,0.0,0.0,2.956833250721866,2.0292554353340746,2.7224535449211844]                                 |1.0    |
|[0.2969277926945664,2.785083222221244,3.4116071866595297,1.4425575354079005,0.816085934792367,3.565966446087695,0.5042941273229588,1.7866101388545272] |0.0    |
|[0.0,4.28715057802596,2.067640719187594,2.195196249533762,1.4585365643097623,5.469506985718695,6.909132016946896,2.8075302181999713]                   |1.0    |
|[1.4846389634728319,3.6299961098613966,3.8251353304970483,0.0,0.0,3.2487096491412406,0.6069648186923353,2.55230019836361]                              |0.0    |
|[0.8907833780836991,2.440859453182663,2.5845508989844923,2.0070365710022964,0.7639953432098755,3.933984282136037,0.7488918847067458,2.2119935052484623]|1.0    |
|[2.9692779269456637,3.5987030399487985,0.0,0.0,0.0,4.479665876064848,0.4046432124615569,2.4672235250848233]                                            |0.0    |
|[0.5938555853891327,6.164734772781855,3.618371258578289,2.822395177971979,4.714198538215482,3.870532922746746,0.4771166337227495,4.509063683775712]    |1.0    |
|[2.375422341556531,3.9116337390747806,4.962337726050225,0.0,0.0,0.0,0.7005762705326175,4.594140357054498]                                              |1.0    |
|[1.1877111707782655,3.442237690385807,4.7555736541314655,0.0,0.0,4.771542032436495,0.5767675485841514,2.55230019836361]                                |0.0    |
|[2.9692779269456637,5.257235745316505,3.8251353304970483,0.0,0.0,4.82230331358611,1.6215925363593726,2.8926068914787586]                               |1.0    |
|[2.9692779269456637,4.349736717851156,4.135281438375188,0.0,0.0,3.4390637273091134,4.351424242226065,4.849370376890859]                                |0.0    |
|[0.2969277926945664,5.914390213481068,3.1014610787813903,1.4425575354079005,7.3447734131313025,3.819771883644859,1.2018507113424313,5.019523723448434] |1.0    |
|[1.4846389634728319,5.194649605491309,3.7217532945376686,1.1916779640326134,1.5193089211560022,3.2740900476683206,1.7725788419028776,4.338910337218137]|1.0    |
|[2.078494548861965,3.1293069912598246,0.0,0.0,0.0,3.807081563357455,1.461547081281603,2.7224535449211844]                                              |1.0    |
|[0.0,3.692582249686593,4.342045510293946,2.9478349636596226,1.9968060106621746,5.812144423239957,1.6638686875123814,2.6373768716423975]                |1.0    |
|[2.078494548861965,3.3483584806480122,3.8251353304970483,0.0,0.0,3.756320524255568,0.7670102737701051,2.6373768716423975]                              |1.0    |
|[0.2969277926945664,3.2231862009976195,1.5507305393906952,2.383355928065227,0.7205865168911325,5.494887626293503,0.5526097414970872,2.8075302181999713]|0.0    |
|[0.2969277926945664,3.5987030399487985,3.618371258578289,1.881596785314653,0.8334494653198641,4.39083387610075,1.5974346842748937,2.7224535449211844]  |1.0    |
+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
only showing top 20 rows

In [58]:
from pyspark.ml.feature import ChiSqSelector
chi = ChiSqSelector(numTopFeatures=6, outputCol="selectedcols", featuresCol="scaledfeat", labelCol="Outcome")
Sdata = chi.fit(newdata).transform(newdata)

In [59]:
Sdata.show(truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+------------------------------------------------------------------------------------------------------------------+
|scaledfeat                                                                                                                                             |Outcome|selectedcols                                                                                                      |
+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+------------------------------------------------------------------------------------------------------------------+
|[1.7815667561673982,4.631374347064541,3.7217532945376686,2.195196249533762,0.0,4.263931157322168,1.8933677423459543,4.253833663939351]                 |1.0    |[1.7815667561673982,4.631374347064541,3.7217532945376686,2.195196249533762,0.0,4.263931157322168]                 |
|[0.2969277926945664,2.659910942570851,3.4116071866595297,1.8188768924708312,0.0,3.3756123679198224,1.0599236453280207,2.6373768716423975]              |0.0    |[0.2969277926945664,2.659910942570851,3.4116071866595297,1.8188768924708312,0.0,3.3756123679198224]               |
|[2.375422341556531,5.726631794005479,3.30822515070015,0.0,0.0,2.956833250721866,2.0292554353340746,2.7224535449211844]                                 |1.0    |[2.375422341556531,5.726631794005479,3.30822515070015,0.0,0.0,2.956833250721866]                                  |
|[0.2969277926945664,2.785083222221244,3.4116071866595297,1.4425575354079005,0.816085934792367,3.565966446087695,0.5042941273229588,1.7866101388545272] |0.0    |[0.2969277926945664,2.785083222221244,3.4116071866595297,1.4425575354079005,0.816085934792367,3.565966446087695]  |
|[0.0,4.28715057802596,2.067640719187594,2.195196249533762,1.4585365643097623,5.469506985718695,6.909132016946896,2.8075302181999713]                   |1.0    |[0.0,4.28715057802596,2.067640719187594,2.195196249533762,1.4585365643097623,5.469506985718695]                   |
|[1.4846389634728319,3.6299961098613966,3.8251353304970483,0.0,0.0,3.2487096491412406,0.6069648186923353,2.55230019836361]                              |0.0    |[1.4846389634728319,3.6299961098613966,3.8251353304970483,0.0,0.0,3.2487096491412406]                             |
|[0.8907833780836991,2.440859453182663,2.5845508989844923,2.0070365710022964,0.7639953432098755,3.933984282136037,0.7488918847067458,2.2119935052484623]|1.0    |[0.8907833780836991,2.440859453182663,2.5845508989844923,2.0070365710022964,0.7639953432098755,3.933984282136037] |
|[2.9692779269456637,3.5987030399487985,0.0,0.0,0.0,4.479665876064848,0.4046432124615569,2.4672235250848233]                                            |0.0    |[2.9692779269456637,3.5987030399487985,0.0,0.0,0.0,4.479665876064848]                                             |
|[0.5938555853891327,6.164734772781855,3.618371258578289,2.822395177971979,4.714198538215482,3.870532922746746,0.4771166337227495,4.509063683775712]    |1.0    |[0.5938555853891327,6.164734772781855,3.618371258578289,2.822395177971979,4.714198538215482,3.870532922746746]    |
|[2.375422341556531,3.9116337390747806,4.962337726050225,0.0,0.0,0.0,0.7005762705326175,4.594140357054498]                                              |1.0    |[2.375422341556531,3.9116337390747806,4.962337726050225,0.0,0.0,0.0]                                              |
|[1.1877111707782655,3.442237690385807,4.7555736541314655,0.0,0.0,4.771542032436495,0.5767675485841514,2.55230019836361]                                |0.0    |[1.1877111707782655,3.442237690385807,4.7555736541314655,0.0,0.0,4.771542032436495]                               |
|[2.9692779269456637,5.257235745316505,3.8251353304970483,0.0,0.0,4.82230331358611,1.6215925363593726,2.8926068914787586]                               |1.0    |[2.9692779269456637,5.257235745316505,3.8251353304970483,0.0,0.0,4.82230331358611]                                |
|[2.9692779269456637,4.349736717851156,4.135281438375188,0.0,0.0,3.4390637273091134,4.351424242226065,4.849370376890859]                                |0.0    |[2.9692779269456637,4.349736717851156,4.135281438375188,0.0,0.0,3.4390637273091134]                               |
|[0.2969277926945664,5.914390213481068,3.1014610787813903,1.4425575354079005,7.3447734131313025,3.819771883644859,1.2018507113424313,5.019523723448434] |1.0    |[0.2969277926945664,5.914390213481068,3.1014610787813903,1.4425575354079005,7.3447734131313025,3.819771883644859] |
|[1.4846389634728319,5.194649605491309,3.7217532945376686,1.1916779640326134,1.5193089211560022,3.2740900476683206,1.7725788419028776,4.338910337218137]|1.0    |[1.4846389634728319,5.194649605491309,3.7217532945376686,1.1916779640326134,1.5193089211560022,3.2740900476683206]|
|[2.078494548861965,3.1293069912598246,0.0,0.0,0.0,3.807081563357455,1.461547081281603,2.7224535449211844]                                              |1.0    |[2.078494548861965,3.1293069912598246,0.0,0.0,0.0,3.807081563357455]                                              |
|[0.0,3.692582249686593,4.342045510293946,2.9478349636596226,1.9968060106621746,5.812144423239957,1.6638686875123814,2.6373768716423975]                |1.0    |[0.0,3.692582249686593,4.342045510293946,2.9478349636596226,1.9968060106621746,5.812144423239957]                 |
|[2.078494548861965,3.3483584806480122,3.8251353304970483,0.0,0.0,3.756320524255568,0.7670102737701051,2.6373768716423975]                              |1.0    |[2.078494548861965,3.3483584806480122,3.8251353304970483,0.0,0.0,3.756320524255568]                               |
|[0.2969277926945664,3.2231862009976195,1.5507305393906952,2.383355928065227,0.7205865168911325,5.494887626293503,0.5526097414970872,2.8075302181999713]|0.0    |[0.2969277926945664,3.2231862009976195,1.5507305393906952,2.383355928065227,0.7205865168911325,5.494887626293503] |
|[0.2969277926945664,3.5987030399487985,3.618371258578289,1.881596785314653,0.8334494653198641,4.39083387610075,1.5974346842748937,2.7224535449211844]  |1.0    |[0.2969277926945664,3.5987030399487985,3.618371258578289,1.881596785314653,0.8334494653198641,4.39083387610075]   |
+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [60]:
columnname #3rd and 7th- BP & DIABETESPEDIGREE REMOVED BY CHISQ FEAT SELECTOR

['Pregnancies',
 'Glucose',
 'BloodPressure',
 'SkinThickness',
 'Insulin',
 'BMI',
 'DiabetesPedigreeFunction',
 'Age',
 'Outcome']

In [61]:
Ssdata= Sdata.drop("scaledfeat")
Ssdata.show(truncate=False)

+-------+------------------------------------------------------------------------------------------------------------------+
|Outcome|selectedcols                                                                                                      |
+-------+------------------------------------------------------------------------------------------------------------------+
|1.0    |[1.7815667561673982,4.631374347064541,3.7217532945376686,2.195196249533762,0.0,4.263931157322168]                 |
|0.0    |[0.2969277926945664,2.659910942570851,3.4116071866595297,1.8188768924708312,0.0,3.3756123679198224]               |
|1.0    |[2.375422341556531,5.726631794005479,3.30822515070015,0.0,0.0,2.956833250721866]                                  |
|0.0    |[0.2969277926945664,2.785083222221244,3.4116071866595297,1.4425575354079005,0.816085934792367,3.565966446087695]  |
|1.0    |[0.0,4.28715057802596,2.067640719187594,2.195196249533762,1.4585365643097623,5.469506985718695]                   |
|0.0    |[1.4846389634728319,3.6299961098613966,3.8251353304970483,0.0,0.0,3.2487096491412406]                             |
|1.0    |[0.8907833780836991,2.440859453182663,2.5845508989844923,2.0070365710022964,0.7639953432098755,3.933984282136037] |
|0.0    |[2.9692779269456637,3.5987030399487985,0.0,0.0,0.0,4.479665876064848]                                             |
|1.0    |[0.5938555853891327,6.164734772781855,3.618371258578289,2.822395177971979,4.714198538215482,3.870532922746746]    |
|1.0    |[2.375422341556531,3.9116337390747806,4.962337726050225,0.0,0.0,0.0]                                              |
|0.0    |[1.1877111707782655,3.442237690385807,4.7555736541314655,0.0,0.0,4.771542032436495]                               |
|1.0    |[2.9692779269456637,5.257235745316505,3.8251353304970483,0.0,0.0,4.82230331358611]                                |
|0.0    |[2.9692779269456637,4.349736717851156,4.135281438375188,0.0,0.0,3.4390637273091134]                               |
|1.0    |[0.2969277926945664,5.914390213481068,3.1014610787813903,1.4425575354079005,7.3447734131313025,3.819771883644859] |
|1.0    |[1.4846389634728319,5.194649605491309,3.7217532945376686,1.1916779640326134,1.5193089211560022,3.2740900476683206]|
|1.0    |[2.078494548861965,3.1293069912598246,0.0,0.0,0.0,3.807081563357455]                                              |
|1.0    |[0.0,3.692582249686593,4.342045510293946,2.9478349636596226,1.9968060106621746,5.812144423239957]                 |
|1.0    |[2.078494548861965,3.3483584806480122,3.8251353304970483,0.0,0.0,3.756320524255568]                               |
|0.0    |[0.2969277926945664,3.2231862009976195,1.5507305393906952,2.383355928065227,0.7205865168911325,5.494887626293503] |
|1.0    |[0.2969277926945664,3.5987030399487985,3.618371258578289,1.881596785314653,0.8334494653198641,4.39083387610075]   |
+-------+------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [62]:
#traib test split
train, test = newdata.randomSplit([0.7,0.3])
test.count()
newdata.show()

+--------------------+-------+
|          scaledfeat|Outcome|
+--------------------+-------+
|[1.78156675616739...|    1.0|
|[0.29692779269456...|    0.0|
|[2.37542234155653...|    1.0|
|[0.29692779269456...|    0.0|
|[0.0,4.2871505780...|    1.0|
|[1.48463896347283...|    0.0|
|[0.89078337808369...|    1.0|
|[2.96927792694566...|    0.0|
|[0.59385558538913...|    1.0|
|[2.37542234155653...|    1.0|
|[1.18771117077826...|    0.0|
|[2.96927792694566...|    1.0|
|[2.96927792694566...|    0.0|
|[0.29692779269456...|    1.0|
|[1.48463896347283...|    1.0|
|[2.07849454886196...|    1.0|
|[0.0,3.6925822496...|    1.0|
|[2.07849454886196...|    1.0|
|[0.29692779269456...|    0.0|
|[0.29692779269456...|    1.0|
+--------------------+-------+
only showing top 20 rows

In [63]:
from pyspark.ml.classification import LogisticRegression, GBTClassifier, RandomForestClassifier

In [64]:
logreg = LogisticRegression(labelCol="Outcome", featuresCol="scaledfeat", maxIter=500, regParam=0.2, elasticNetParam=0.8)
model = logreg.fit(train)
preds = model.transform(test)
evals = model.evaluate(test)

In [65]:
preds.show()

print(evals.accuracy, evals.areaUnderROC)

+--------------------+-------+--------------------+--------------------+----------+
|          scaledfeat|Outcome|       rawPrediction|         probability|prediction|
+--------------------+-------+--------------------+--------------------+----------+
|(8,[0,1,6,7],[0.5...|    0.0|[0.99718573517930...|[0.73050490091389...|       0.0|
|(8,[0,1,6,7],[0.5...|    0.0|[0.92031705914315...|[0.71510670428188...|       0.0|
|(8,[0,1,6,7],[0.5...|    0.0|[0.92031705914315...|[0.71510670428188...|       0.0|
|(8,[0,1,6,7],[0.5...|    0.0|[0.92031705914315...|[0.71510670428188...|       0.0|
|(8,[0,1,6,7],[0.8...|    0.0|[0.95106452955761...|[0.72132921311564...|       0.0|
|(8,[0,1,6,7],[2.0...|    0.0|[0.75889283946723...|[0.68111330900451...|       0.0|
|(8,[0,1,6,7],[2.0...|    0.0|[0.75889283946723...|[0.68111330900451...|       0.0|
|(8,[0,1,6,7],[2.9...|    1.0|[0.68202416343108...|[0.66419031987256...|       0.0|
|(8,[1,5,6,7],[2.2...|    0.0|[1.00487260278292...|[0.73201551122081...|       0.0|
|(8,[1,5,6,7],[2.2...|    0.0|[1.00487260278292...|[0.73201551122081...|       0.0|
|(8,[1,5,6,7],[2.2...|    0.0|[1.00487260278292...|[0.73201551122081...|       0.0|
|(8,[1,5,6,7],[3.0...|    0.0|[0.80501404508892...|[0.69104601107022...|       0.0|
|(8,[1,5,6,7],[3.0...|    0.0|[0.80501404508892...|[0.69104601107022...|       0.0|
|(8,[1,5,6,7],[3.0...|    0.0|[0.80501404508892...|[0.69104601107022...|       0.0|
|(8,[1,5,6,7],[3.6...|    0.0|[0.66665042822385...|[0.66075272878935...|       0.0|
|(8,[1,5,6,7],[3.6...|    0.0|[0.66665042822385...|[0.66075272878935...|       0.0|
|(8,[1,5,6,7],[3.7...|    1.0|[0.65127669301662...|[0.65729810482891...|       0.0|
|(8,[1,5,6,7],[3.7...|    1.0|[0.65127669301662...|[0.65729810482891...|       0.0|
|(8,[1,5,6,7],[4.0...|    1.0|[0.55903428177324...|[0.63622906228677...|       0.0|
|(8,[1,5,6,7],[4.0...|    1.0|[0.55903428177324...|[0.63622906228677...|       0.0|
+--------------------+-------+--------------------+--------------------+----------+
only showing top 20 rows

0.6494845360824743 0.7718205337690633

In [66]:
"""from pyspark.mllib.evaluation import BinaryClassificationMetrics
#convert to rdd cox of mllib pkg
predsa = preds.select('Outcome','prediction').rdd.map(lambda row: (float(row['probability'][1]), float(row['Outcome'])))
metrics = BinaryClassificationMetrics(predsa)"""

"from pyspark.mllib.evaluation import BinaryClassificationMetrics\n#convert to rdd cox of mllib pkg\npredsa = preds.select('Outcome','prediction').rdd.map(lambda row: (float(row['probability'][1]), float(row['Outcome'])))\nmetrics = BinaryClassificationMetrics(predsa)"

In [67]:
"""print("AUC", metrics.areaUnderPR)"""

'print("AUC", metrics.areaUnderPR)'

In [68]:
predy = preds.select('Outcome','rawPrediction', 'prediction')

In [69]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
metric = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction", labelCol="Outcome", metricName="areaUnderROC")
lrroc=metric.evaluate(predy)
lrroc

0.7718205337690633

In [70]:
metrics = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="Outcome", metricName="accuracy")
lracc = metrics.evaluate(predy)
lracc

0.6494845360824743

In [71]:

rf = RandomForestClassifier(labelCol="Outcome", featuresCol="scaledfeat", numTrees=20)
rfmod = rf.fit(train)
pred = rfmod.transform(test)

In [72]:
predy = preds.select('Outcome','rawPrediction', 'prediction')

In [73]:
rfroc = metric.evaluate(predy)

In [74]:
rfacc = metrics.evaluate(predy)

In [75]:
ml = GBTClassifier(labelCol="Outcome", featuresCol=("scaledfeat"), maxDepth=10, maxIter=100)
model = ml.fit(train)

In [76]:
preds = model.transform(test)

#convert SparseVector -> DenseVector  which error occured during chisq selector

In [77]:
predy = preds.select('Outcome','rawPrediction', 'prediction')

gbtroc=metric.evaluate(predy)

In [78]:
gbtacc = metrics.evaluate(predy)

In [79]:
roc = [lrroc, rfroc, gbtroc]
acc = [lracc, rfacc, gbtacc]
print(f"lrroc:{lrroc},  rfroc:{rfroc}, gbtroc:{gbtroc}")
print(f"lracc:{lracc},  rfacc:{rfacc}, gbtacc:{gbtacc}")

lrroc:0.7718205337690633,  rfroc:0.7718205337690633, gbtroc:1.0
lracc:0.6494845360824743,  rfacc:0.6494845360824743, gbtacc:1.0

In [80]:
from pyspark.mllib.stat import Statistics
n = newdata.drop("Outcome")
n = newdata.select(newdata.scaledfeat).rdd.map(lambda row : row[0:])
summary = Statistics.colStats(n)

summary.mean() #variance, norm

array([1.14170283, 3.78316102, 3.57213203, 1.28804447, 0.69280035,
       4.05994515, 1.42493685, 2.82802395])

In [81]:
correlat = Statistics.corr(n, method='pearson')
import pandas as pd
pddf= pd.DataFrame(correlat, columns=columnname[:-1], index=columnname[:-1])
pddf

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000

In [82]:
from pyspark.ml.stat import Correlation
n = newd.drop('Outcome')
n = n.drop('features')
summary = Correlation()
print(n)
columnname=columnname[:-1]
a=summary.corr(dataset=n.feature, column=columnname) #variance, norm
a

DataFrame[Pregnancies: float, Glucose: float, BloodPressure: float, SkinThickness: float, Insulin: float, BMI: float, DiabetesPedigreeFunction: float, Age: float, feature: vector]

Traceback (most recent call last):
  File "C:\spark-3.3.1-bin-hadoop2\python\pyspark\serializers.py", line 458, in dumps
    return cloudpickle.dumps(obj, pickle_protocol)
  File "C:\spark-3.3.1-bin-hadoop2\python\pyspark\cloudpickle\cloudpickle_fast.py", line 73, in dumps
    cp.dump(obj)
  File "C:\spark-3.3.1-bin-hadoop2\python\pyspark\cloudpickle\cloudpickle_fast.py", line 602, in dump
    return Pickler.dump(self, obj)
TypeError: cannot pickle '_thread.RLock' object

PicklingError: Could not serialize object: TypeError: cannot pickle '_thread.RLock' object

In [83]:
n.show()

+-----------+-------+-------------+-------------+-------+----+------------------------+----+--------------------+
|Pregnancies|Glucose|BloodPressure|SkinThickness|Insulin| BMI|DiabetesPedigreeFunction| Age|             feature|
+-----------+-------+-------------+-------------+-------+----+------------------------+----+--------------------+
|        6.0|  148.0|         72.0|         35.0|    0.0|33.6|                   0.627|50.0|[6.0,148.0,72.0,3...|
|        1.0|   85.0|         66.0|         29.0|    0.0|26.6|                   0.351|31.0|[1.0,85.0,66.0,29...|
|        8.0|  183.0|         64.0|          0.0|    0.0|23.3|                   0.672|32.0|[8.0,183.0,64.0,0...|
|        1.0|   89.0|         66.0|         23.0|   94.0|28.1|                   0.167|21.0|[1.0,89.0,66.0,23...|
|        0.0|  137.0|         40.0|         35.0|  168.0|43.1|                   2.288|33.0|[0.0,137.0,40.0,3...|
|        5.0|  116.0|         74.0|          0.0|    0.0|25.6|                   0.201|30.0|[5.0,116.0,74.0,0...|
|        3.0|   78.0|         50.0|         32.0|   88.0|31.0|                   0.248|26.0|[3.0,78.0,50.0,32...|
|       10.0|  115.0|          0.0|          0.0|    0.0|35.3|                   0.134|29.0|[10.0,115.0,0.0,0...|
|        2.0|  197.0|         70.0|         45.0|  543.0|30.5|                   0.158|53.0|[2.0,197.0,70.0,4...|
|        8.0|  125.0|         96.0|          0.0|    0.0| 0.0|                   0.232|54.0|[8.0,125.0,96.0,0...|
|        4.0|  110.0|         92.0|          0.0|    0.0|37.6|                   0.191|30.0|[4.0,110.0,92.0,0...|
|       10.0|  168.0|         74.0|          0.0|    0.0|38.0|                   0.537|34.0|[10.0,168.0,74.0,...|
|       10.0|  139.0|         80.0|          0.0|    0.0|27.1|                   1.441|57.0|[10.0,139.0,80.0,...|
|        1.0|  189.0|         60.0|         23.0|  846.0|30.1|                   0.398|59.0|[1.0,189.0,60.0,2...|
|        5.0|  166.0|         72.0|         19.0|  175.0|25.8|                   0.587|51.0|[5.0,166.0,72.0,1...|
|        7.0|  100.0|          0.0|          0.0|    0.0|30.0|                   0.484|32.0|[7.0,100.0,0.0,0....|
|        0.0|  118.0|         84.0|         47.0|  230.0|45.8|                   0.551|31.0|[0.0,118.0,84.0,4...|
|        7.0|  107.0|         74.0|          0.0|    0.0|29.6|                   0.254|31.0|[7.0,107.0,74.0,0...|
|        1.0|  103.0|         30.0|         38.0|   83.0|43.3|                   0.183|33.0|[1.0,103.0,30.0,3...|
|        1.0|  115.0|         70.0|         30.0|   96.0|34.6|                   0.529|32.0|[1.0,115.0,70.0,3...|
+-----------+-------+-------------+-------------+-------+----+------------------------+----+--------------------+
only showing top 20 rows